---
interface Props {
	title: string;
}

const { title } = Astro.props;
const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<footer class="bg-[#BEE0F7] text-[#2867A7] mt-4 text-center p-4">
			<p>Fundación Cortejiendo Sueños</p>
			<p>© {currentYear} todos los derechos reservados</p>
		</footer>
	</body>
</html>
<style is:global>

</style>
